@import "tailwindcss";

html, body {
  background-color: #020617; /* Garante o fundo cósmico (slate-950) */
  color: #f8fafc;
  overflow-x: hidden; /* Trava de vazamento dimensional */
  margin: 0;
  padding: 0;
}